name: Spring Boot CI/CD (Self-Hosted EC2)

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: [self-hosted, Linux, X64]


    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: maven

      - name: Build with Maven
        run: mvn clean package -DskipTests

      - name: Deploy JAR
        run: |
          sudo mkdir -p /opt/spring-boot
          sudo cp target/*.jar /opt/spring-boot/app.jar
          sudo chown ubuntu:ubuntu /opt/spring-boot/app.jar

      - name: Restart Spring Boot service
        run: sudo systemctl restart spring-boot
